.menu__link.menu__link_not-logged {
  border-radius: 100px;
  padding: 12px;
  border: 1px solid #b6bcbf;
}

.menu__link.menu__link_not-logged:hover {
  border: 1px solid white;
}

@media screen and (max-width: 1023px) {
  .menu__link.menu__link_not-logged {
    padding: 8px;
  }
}
