<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Alexey Tsitskun">
  <meta name="description" content="Diploma project / Articles saver">
  <title>News Explorer</title>
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
  <link rel="icon" href="<%= require('./images/favicon.png')%>" type="image/png">
</head>

<body>
  <div class="root">
    <header class="header">
      <nav class="menu">

        <a href="./" class="menu__logo">News Explorer</a>
        <div class="menu__mobile"></div>
        <ul class="menu__items-list">
          <li class="menu__items-single-item menu__items-single-item_selected"><a href="#"
              class="menu__link menu__link_selected">Главная</a></li>
          <li class="menu__items-single-item"><a href="#" class="menu__link">О проекте</a></li>
          <li class="menu__items-single-item"><a href="#" class="menu__link">Сохраненные статьи</a></li>
          <li class="menu__items-single-item">
            <a href="#" class="menu__link menu__link_logged">
              Васисуалий <div class="menu__logout"></div>
            </a>
          </li>
        </ul>
      </nav>
      <div class=header__title-wrapper>
        <h1 class="header__title">Что в мире творится?</h1>
        <h3 class="header__subtitle">Находите самые свежие статьи на любую тему
          и сохраняйте в своём личном кабинете.
        </h3>
        <form novalidate class="header__form" name="news-finder" method="POST">
          <input class="header__form-input" type="text" name="search" placeholder="Введите тему новости" required />
          <button class="button header__button" type="submit">Искать</button>
        </form>
      </div>
    </header>
    <section class=preloader>
      <div class="preloader__message" id="preloader-searching">
        <i class="circle-preloader"></i>
        <h5 class="preloader__subtitle">Идет поиск новостей...</h5>
      </div>
      <div class="preloader__message preloader__message_hide" id="preloader-not-found">
        <img class="preloader__icon" src="<%= require('./images/not-found.svg')%>">
        <h4 class="preloader__title">Ничего не найдено</h4>
        <h5 class="preloader__subtitle">К сожалению по вашему запросу ничего не найдено.</h5>
      </div>
    </section>
    <button class="button">Text</button>
  </div>
  <div class="overlay"></div>
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>