<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Alexey Tsitskun">
  <meta name="description" content="Diploma project / Articles saver">
  <title>News Explorer</title>
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
  <link rel="icon" href="<%= require('./images/favicon.png')%>" type="image/png">
</head>

<body>
  <div class="root">
    <header class="header">
      <nav class="menu">

        <a href="./" class="menu__logo">News Explorer</a>
        <div class="menu__mobile"></div>
        <ul class="menu__items-list">
          <li class="menu__items-single-item menu__items-single-item_selected"><a href="#"
              class="menu__link menu__link_selected">Главная</a></li>
          <li class="menu__items-single-item"><a href="#" class="menu__link">О проекте</a></li>
          <li class="menu__items-single-item"><a href="#" class="menu__link">Сохраненные статьи</a></li>
          <li class="menu__items-single-item">
            <a href="#" class="menu__link menu__link_logged">
              Васисуалий <div class="menu__logout"></div>
            </a>
          </li>
        </ul>
      </nav>
      <div class=header__title-wrapper>
        <h1 class="header__title">Что в мире творится?</h1>
        <h3 class="header__subtitle">Находите самые свежие статьи на любую тему
          и сохраняйте в своём личном кабинете.
        </h3>
        <form novalidate class="header__form" name="news-finder" method="POST">
          <input class="header__form-input" type="text" name="search" placeholder="Введите тему новости" required />
          <button class="button header__button" type="submit">Искать</button>
        </form>
      </div>
    </header>
    <section class=preloader>
      <!-- Чтобы скрыть прелоадер добавьте класс preloader__message_hide -->
      <div class="preloader__message" id="preloader-searching">
        <i class="circle-preloader"></i>
        <h5 class="preloader__subtitle">Идет поиск новостей...</h5>
      </div>
      <!-- Чтобы показать ошибку поиска уберите класс preloader__message_hide -->
      <div class="preloader__message preloader__message_hide" id="preloader-not-found">
        <img class="preloader__icon" src="<%= require('./images/not-found.svg')%>">
        <h4 class="preloader__title">Ничего не найдено</h4>
        <h5 class="preloader__subtitle">К сожалению по вашему запросу ничего не найдено.</h5>
      </div>
    </section>
    <section class="results">
      <h3 class="results__title">Результаты поиска</h3>
      <div class="results__news">
        <div class="card">
          <div class="card__upper-body">
            <div class="card__pic"></div>
            <div class="card__icon card__icon_logged"></div>
            <p class="card__warning">Войдите, чтобы сохранять статьи</p>
            <div class="card__wrapper">
              <p class="card__date">2 августа, 2019</p>
              <h4 class="card__title">Alles klar, Herr Kommissar?</h4>
              <p class="card__text">Er geht auf der Straß'n Sag net wohin, Seine Leber ist hin.
                Das Hirn voll heavy Metal, Und seine Leber ist hin Seine Venen
                sind offen, Und riecht nach Formalin Das alles macht eam kan Kummer,
                Wie er ist in Wien.
              </p>
              <p class="card__text">Wenn ich sag', so wie Topf und Deckel Wenn ich sag', so wie
                Rotz und Löffel Wenn ich sage, wie Blitz und Donner Sozusagen ohne Punkt und Komma</p>
            </div>
          </div>
          <p class="card__src">AUS.eins</p>
        </div>
        <div class="card">
          <div class="card__upper-body">
            <div class="card__pic"></div>
            <div class="card__icon"></div>
            <p class="card__warning">Войдите, чтобы сохранять статьи</p>
            <div class="card__wrapper">
              <p class="card__date">2 августа, 2019</p>
              <h4 class="card__title">Wir sind zusammen groß</h4>
              <p class="card__text">Er geht auf der Straß'n Sag net wohin, Seine Leber ist hin.
                Das Hirn voll heavy Metal, Und seine Leber ist hin Seine Venen
                sind offen, Und riecht nach Formalin Das alles macht eam kan Kummer,
                Wie er ist in Wien. Er geht auf der Straß'n Sag net wohin, Seine Leber ist hin.
              </p>
            </div>
          </div>
          <p class="card__src">AUS.eins</p>
        </div>
        <div class="card">
          <div class="card__upper-body">
            <div class="card__pic"></div>
            <div class="card__icon card__icon_marked"></div>
            <p class="card__warning">Войдите, чтобы сохранять статьи</p>
            <div class="card__wrapper">
              <p class="card__date">2 августа, 2019</p>
              <h4 class="card__title">Junge Römer - tanzen anders als die anderen</h4>
              <p class="card__text">Er geht auf der Straß'n Sag net wohin, Seine Leber ist hin.
                Das Hirn voll heavy Metal, Und seine Leber ist hin Seine Venen
                sind offen, Und riecht nach Formalin Das alles macht eam kan Kummer,
                Wie er ist in Wien.
              </p>
            </div>
          </div>
          <p class="card__src">AUS.eins</p>
        </div>
        <div class="card">
          <div class="card__upper-body">
            <div class="card__pic"></div>
            <div class="card__icon card__icon_marked"></div>
            <p class="card__warning">Войдите, чтобы сохранять статьи</p>
            <div class="card__wrapper">
              <p class="card__date">2 августа, 2019</p>
              <h4 class="card__title">Alles passiert...</h4>
              <p class="card__text">Er geht auf der Straß'n Sag net wohin, Seine Leber ist hin.
                Das Hirn voll heavy Metal, Und seine Leber ist hin Seine Venen
                sind offen, Und riecht nach Formalin Das alles macht eam kan Kummer,
                Wie er ist in Wien. Er geht auf der Straß'n Sag net wohin, Seine Leber ist hin.
              </p>
            </div>
          </div>
          <p class="card__src">AUS.eins</p>
        </div>

      </div>
      <button class="button results__button">Показать еще</button>
    </section>
    <!-- <button class="button">Text</button> -->
  </div>
  <div class="overlay"></div>
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>